.vim/undo
.vim/.newrwhist
backups
.bash_history

# Local files
.bash_local
.vimrc.local

# Development environment
node_modules
virtual
__pycache__
# Common folders
Desktop
Documents
Downloads
Music
Movies
Pictures
Public
