[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Ricky Moorhouse
    useconfigonly = true

[commit]
  gpgsign = true
  template = ~/.gitmessage

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit --date=relative
  st = status
  up = !git fetch origin && git rebase origin/master
  recap = !git log --all --oneline --no-merges --author=${1-$(git config user.email)}
  today = !git log --all --since=00:00:00 --oneline --no-merges --author=${1-$(git config user.email)}
  changelog = !git log --oneline --no-merges ${1-$(git describe --abbrev=0)}..HEAD
  upstream = !git log --oneline --no-merges HEAD..${1-$(git branch -lvv | perl -ne '/^\\*.*\\[(.*?)\\]/ and print "$1\n"')}
  local = !git log --oneline --no-merges ${1-$(git branch -lvv | perl -ne '/^\\*.*\\[(.*?)\\]/ and print "$1\n"')}..HEAD
  # Profiles
  work = "!git config user.email \"moorh@uk.ibm.com\" && git config user.signingkey 7EAB3807"
  home = "!git config user.email \"ricky@samespirit.net\" && git config user.signingkey 362611F2" 

[gpg]
	program = /usr/local/bin/gpg

[push]
	default = simple
[credential]
	helper = osxkeychain
[color]
  pager = true
  ui = auto
  status = auto
  diff = auto
  branch = auto
  showBranch = auto
  interactive = auto
  grep = auto
[color "status"]
  header = black bold
  branch = cyan
  nobranch = red
  unmerged = red
  untracked = cyan
  added = green
  changed = red bold
[color "diff"]
  meta = red bold
  frag = black bold
  func = blue
  old = red strike
  new = green
  commit = blue
  whitespace = red
  context = normal
[color "branch"]
  current = cyan
  local = blue
  remote = magenta
  upstream = magenta
  plain = normal
[color "decorate"]
  branch = blue
  remoteBranch = magenta
  tag = magenta
  stash = cyan
  HEAD = blue
[color "interactive"]
  prompt = red
  header = red bold
  error = red
  help = black bold
[color "grep"]
  context = normal
  match = cyan
  filename = blue
  function = blue
  selected = normal
  separator = red bold
  linenumber = normal
